<ul class="docs-menu">
  <li><a href="/docs/">Introduction</a></li>
  <li><a href="/docs/load-test.html">Load Test</a></li>
  <li><a href="/docs/user-accounts.html">User Accounts</a></li>
</ul>
<ul class="docs-menu">
  <li><span>Docker</span>
    <ul>
      <li><a href="/microservices-demo/deployment/docker-compose.html">Docker Compose</a></li>
      <li><a href="/microservices-demo/deployment/docker-compose-weave.html">Docker Compose + Weave</a></li>
      <li><a href="/microservices-demo/deployment/docker-swarm.html">Docker Swarm</a></li>
      <li><a href="/microservices-demo/deployment/micro-sock.html">Micro Sock</a></li>
    </ul>
  </li>
  <li><span>Kubernetes</span>
    <ul>
      <li><a href="/microservices-demo/deployment/kubernetes-start.html">Any Kubernetes Cluster</a></li>
      <li><a href="/microservices-demo/deployment/kubernetes-minikube.html">Minikube</a></li>
      <li><a href="/microservices-demo/deployment/kubernetes.html">Kubernetes + Weave on AWS</a></li>
    </ul>
  </li>
  <li>
    <span>Amazon ECS</span>
    <ul>
      <li><a href="/microservices-demo/deployment/ecs.html">ECS</a></li>
      <li><a href="/microservices-demo/deployment/ecs-weave-shippable.html">ECS + Weave + Shippable</a></li>
    </ul>
  </li>
  <li><span>Mesos</span>
    <ul>
      <li><a href="/microservices-demo/deployment/mesos-cni.html">Mesos + CNI</a></li>
      <li><a href="/microservices-demo/deployment/mesos-marathon.html">Mesos + Marathon</a></li>
      <li><a href="/microservices-demo/deployment/minimesos-marathon.html">Minimesos + Marathon</a></li>
    </ul>
  </li>
  <li><span>Nomad</span>
    <ul>
      <li><a href="/microservices-demo/deployment/nomad.html">Nomad</a></li>
    </ul>
  </li>
  <li><span>Apcera</span>
    <ul>
      <li><a href="/microservices-demo/deployment/apcera.html">Apcera</a></li>
    </ul>
  </li>
  <li><span>Monitoring</span>
    <ul>
      <li><a href="/microservices-demo/deployment/monitoring-kubernetes.html">Kubernetes</a></li>
      <li><a href="/microservices-demo/deployment/monitoring-docker-compose.html">Docker Compose</a></li>
    </ul>
  </li>
</ul>
