<div class="header clearfix">
<div class="header-home"><a href="{{site.main_url_prefix}}/">Sock Shop</a></div>
<nav>
  <ul class="nav header-nav">
    <li class="{% if include.quickstart %}active{% endif %}"><a href="/docs/quickstart.html">Quickstart</a></li>
    <li class="{% if include.docs %}active{% endif %}"><a href="/docs/index.html">Docs</a></li>
    <li class="{% if include.api %}active{% endif %}"><a href="/api/index.html">API</a></li>
    <li><a href="http://github.com/microservices-demo" target="_blank">GitHub</a></li>
  </ul>
</nav>
</div>
